{% extends '_layout.html' %}

{% set pageTitle = 'Home' %}
{% set primaryActivePage = 'home' %}

{% block content %}

{% for component in pageData %}
  {% set componentData = component.componentData %}
  {% if component.componentName === 'navigation' %}
    {# Navigation - home #}
    {% include './navigation/_navigation.html' %}
  {% elif component.componentName === 'gallery' %}
    {# Gallery - home #}
    {% include './gallery/_gallery.html' %}
  {% elif component.componentName === 'spotlight' %}
    {# Spotlight - home #}
    {% include './spotlight/_spotlight.html' %}
  {% endif %}
{% endfor %}

{% endblock %}
